# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=2.0 # Apache-2.0
# NOTE(mgoddard): Ansible 2.8.0 breaks ansible-lint.
ansible>=2.6.0,<2.8.0 # GPLv3
# NOTE(priteau): We don't depend directly on openstacksdk but os-client-config
# does. openstacksdk isn't compatible with Python 2 since version 0.44.0.
openstacksdk<0.44.0;python_version<'3.0' # Apache-2.0
os-client-config # Apache-2.0
