---
# This file holds the config given to Tenks when running the zuul job,
# tenks-deploy-teardown. It assumes the existence of the bridge `breth1`.

node_types:
  type0:
    memory_mb: 1024
    vcpus: 1
    volumes:
      # There is a minimum disk space capacity requirement of 4GiB when using Ironic Python Agent:
      # https://github.com/openstack/ironic-python-agent/blob/master/ironic_python_agent/utils.py#L290
      - capacity: 4GiB
    physical_networks:
      - physnet1
    console_log_enabled: true

specs:
  - type: type0
    count: 2

nova_flavors: []

physnet_mappings:
  physnet1: breth1

python_upper_constraints_url: file://{{ upper_constraints_path }}
